*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-size: 16px;
  font-family: ;
  height: 100%;
  color: #ffffff;
  min-width: 320px;
}
ul,li {
  color: #ffffff;
  font-size: 1.2rem;
  
}
a {
  color: #ffffff;
}
a:hover{
  color: #ffffff;
}
h1{
  font-size: 3.5rem;
}
.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  
}
/* 
* Video and video background
 */
 .video-background-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-background-container::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.9;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
/*
* Header
*/
.navbar {
  margin: 0 auto;
  z-index: 2;
  width: 100%;
  height: 70px;
}
.navbar-brand {
 margin-left: 5%;
}
.navbar-nav{
  margin-right: 5%;
}
.nav-item {
padding: 10px 25px;

}
.nav-item a::after {
  content: '';
	display: block;
	width: 100%;
	background-color: #fff;
	height: 1px;
	transform: scale(0);
  transition: all .3s;
  color: #ffffff;
  z-index: 2;
}
.nav-item a:hover{
  color: #ffffff;
}
.nav-item a:hover::after{
  transform: scale(1);  
}
/*
* Home section content
*/
.text-center{
  position: absolute;
	top: 35%;
  left: 20%;
  z-index: 2;
}
.lead{
  padding-left: 30px;
  z-index: 3; 
}
.lead .btn{
  height: 50px;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: 20px;
  margin-top: 30px;
  border: 1px solid #fff;
  border-radius: 10px; 
  color: #fff;
  background: transparent;
  z-index: 2;
}
.lead .btn:hover{
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.8);
  color: #212529;
  background-color: #dae0e5;
}
.lead .active {
  color: #212529;
  background-color: #dae0e5;
}
/*
* Footer
*/

.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;

}
.footer-content{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 4px 16px rgba(0, 0, 0, 0.9);
  z-index: 3;
}
.footer a {
  color: #fff;
}

.footer a:hover {
  color: #fff;
}

