*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  font-size: 16px;
  font-family: Roboto;
  color: #ffffff;
  min-width: 320px;
  background-color: #f9f8f6;  
}
ul,li {
  color: #ffffff;
  font-size: 1.2rem;  
}
a {
  color: #ffffff;
}
a:hover{
  color: #ffffff;
}
h1{
  font-size: 3.5rem;
   font-weight: 700;
}
h2{
  font-size: 2rem;
   font-weight: 700;
}
h3{
  font-size: 1.35em;
  font-weight: 700;
}
h4{
  font-size: 1.2rem;
  font-weight: 700;
}
h5{
  color: #000;
   font-size: 1.2rem;
  font-weight: 700;
}
.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;  
}
.main{
  max-width: 100%;
  height: 100vh;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.page-title{
  margin: 0 auto;
  text-align: center;
  color: #000;
  padding: 30px 0;
}
/* 
* Video and video background
 */
 .video-background-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-background-container::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.6;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
/*
* Header
*/
.navbar {
  margin: 0 auto;
  z-index: 3;
  width: 100%;
  height: 70px;
}
.navbar-brand {
 margin-left: 5%;
 border: 1px solid #fff;
 border-radius: 5px;
  padding: 5px 20px;
}
.navbar-nav{
  margin-right: 5%;
}
.nav-item {
padding: 10px 25px;
text-shadow: 1px 4px 16px rgba(0, 0, 0);
}
.nav-item a::after {
  content: '';
	display: block;
	width: 100%;
	background-color: #fff;
	height: 1px;
	transform: scale(0);
  transition: all .3s;
  color: #ffffff;
  z-index: 2;
}
.nav-item a:hover{
  color: #ffffff;
}
.nav-item a:hover::after{
  transform: scale(1);  
}
/*
* Content
*/
.content{
    width: 900px;
    margin-left: 40px;
    margin-bottom: 1.5em;
    margin-top: 200px;
    padding: 2em;
    background-color: #fff;
    height: 100vh;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.img-bg-container{
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.img-bg-container::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.6;
}
.header-bg{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.breadcrumb-container{
  position: absolute;
  margin: 0 auto;
  top: 150px;    
    z-index: 4;
    float: left;
    display: block;
    overflow: hidden;
    width: 100%;    
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 4rem;
  margin-bottom: 1rem;
  background-color: transparent;
  
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #fff;
}
.breadcrumb-item.active {
  color: #fff;
}
.page-title{
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}
/*
* Home section content
*/
.text-center{
  position: absolute;
	top: 35%;
  left: 20%;
  z-index: 2;
}
.lead{
  padding-left: 30px;
  z-index: 3; 
}
.lead .btn{
  height: 50px;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: 20px;
  margin-top: 30px;
  border: 1px solid #fff;
  border-radius: 10px; 
  color: #fff;
  background: transparent;
  z-index: 2;
}
.lead .btn:hover{
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.8);
  color: #212529;
  background-color: #dae0e5;
}
.lead .active {
  color: #212529;
  background-color: #dae0e5;
}
/*
* Blog
*/
.post{
  height: auto;
}
.card{
border: none;
color: #000;
padding: 20px;
}
.card-img{
border-radius: 5px;
}
.card-title a{
  color: #000;
}
.card-title a:hover{
  color: #1b1b1b;
  opacity: 0.6;
  text-decoration: none;
}

a.btn-post{
  color: #1b1b1b;
  opacity: 0.6;
  font-weight: bold;
  padding: 8px 12px;
  font-size: 1.25rem;
}
a.btn-post:hover{
  color: #fff;
  background: #1b1b1b;
  opacity: 0.6;
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid ;
  opacity: 0.6;
  padding: 8px 12px;
}
/*
* Pagination
*/
.page-pagination{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.page-item {
padding: 10px ;
}
a.page-link{
  color: #000;
  border-radius: 5px;
}
a.page-link:hover{
  color: #fff;
  background: #1b1b1b;
  opacity: 0.6;
}
.page-item.active .page-link{
  color: #fff;
  background: #1b1b1b;
  opacity: 0.6;
  border: none;
}
/*
* Sidebar
*/
aside{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
  padding-left: 2%;
  padding-top: 45em; 
}
input{
  text-shadow: none;
}
.btn-submit{
  color: #000;
  background:#fff;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0);
}
.btn-submit:hover{
  color: #fff;
  background: #1b1b1b;
  opacity: 0.6;
  border: 1px solid #1b1b1b;
}
.widget{
  color: #000;
  margin: 5%;
}
.widget-item{
  list-style: none;
}
.widget-item a{
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}
.widget-item a:hover{
 color: #1b1b1b;
  opacity: 0.6;
  font-size: 1.2rem;
}
/*
* Single post
*/
.post-title{
  color: #000;
  text-align: center;
}
.post-content{
  color: #000;
}
/*
* Gallery
*/
.card-block{
  padding: 5px;
  color: #000;
  border:none;
}
.card-block-img{
  width: 100%;
  height: auto;
}
.card-info{
  padding: 10px;
  text-transform: capitalize;
  border-radius: 3px;
  background-color: #1b1b1b;
  opacity: 0.6;
  width: 50%;
  position: absolute;
  bottom: 40px;
  left: 0;
}
.card-title-left{
  color: #fff;
  padding-left: 30px;  
}
/*
* Help
*/
.feature-tab {
  margin-top: 30px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
-webkit-flex-direction: row;
-moz-flex-direction: row;
-ms-flex-direction: row;
-o-flex-direction: row;
flex-direction: row;
}
.single-feature {
  margin: 10px 0px;
  border-radius: 4px;
  position: relative;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  color: #fff;
  background-color: #1b1b1b;
  opacity: 0.6;
}
.single-feature:after {
    background: #fff;
    color: #000;
}
.tab-content img {
    width: 100%;
    height: 100%;
}
.card-header{
  color: #000;
}
a .btn-link{
  text-decoration: none;
  color: #000;
}
a .btn-link .colapsed{
  text-decoration: none;
  color: #1b1b1b;
  opacity: 0.6;
}
a .btn-link:hover,
a .btn-link:after,
a .btn-link:visited{
  text-decoration: none;
  color: #1b1b1b;
  opacity: 0.6;
}

.help-action{
  text-align: center;
  color: #000;
}
/*
* Contact
*/
.contact-img{
  border: 5px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.contact-list{
  list-style: none;  
}
.contact-item p{
  color: #000;
}
.contact-form{
  width: 100%;
}
.form-group{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
.form-lable{
  width: 50%;
  padding: 10px;
  margin: 5px 10px;
  color: #000;
}

.form-control{
  font-weight: 300;
  color: #000;
  font-size: 0.9rem;
}

.form-lable-textarea{
  width: 100%;
  padding: 10px;
  margin: 5px 10px;
  color: #000;
 }
#message{
   resize: none;
}
/*
* Footer
*/
.footer {

  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  height: 70px;
}
.footer-content{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 4px 16px rgba(0, 0, 0, 0.9);
  z-index: 3;
  border-top: 1px solid #fff;
}

.bg-dark{
  color: #1b1b1b;
 opacity: 0.7;
}
