.navbar {margin-top: 0;}

/* Çàñòàâêà */
.splash { 
background-size:cover;
}

.header-buttons a{
    margin-right: 10px;
}
.header-buttons .btn-main.dark{
    background: #fff;
    color: #0066cc;
}
.header-section {
    height: 100%;
    padding-bottom: 60px;
    padding-top: 200px;
    overflow: hidden;
}
.header-section .container {
    height: 100%;
}

.header-content {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}
.header-text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 10%;
}

.header-title {
    font-size: 40px;
    line-height: 50px;
    color: #0066cc;
    font-weight: 600;
}

.header-buttons a.btn.solid{
    margin-left: 10px;
}

.btn-main.featured {
    background: #0066cc;
    color: #fff;
	margin-top: 30px;
	padding: 15px 50px;
}
.btn-dark {
    padding: 15px 50px;
    border: medium none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #0066cc;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.42857;
    font-weight: 700;
    margin-top: 30px;
}
/* Video and video background */


.video-background{
    width: 100%;
}
.video-background-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

section{
    position: relative;
}
iframe{
    border: 0;
}

@media ( min-width: 768px ) {
    .video-section {
        padding: 100px 0;
    }
}
@media ( min-width: 992px ) {
    .video-section {
        padding: 120px 0;
    }
}
/* About Us */
.about-us {
  background: url("../img/about-us-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
.about-us .overlay {
  background: rgba(238, 238, 238, 0.95);
}

.about-us .jumbo-text {
  color: #0066cc;
  font-size: 24px;
}
.about-us p {
  color: #484848;
  line-height: 24px;
}
.about-us img {
  margin-bottom: 50px;
}

/*  team */
.team {
	padding:50px;
}
.wp-block {
  margin: 0 0 15px 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  cursor: default;
  border-radius: 2px;
}
a:hover{
  text-decoration:none;
}
.no-margin {
  margin: 0 !important;
}
.wp-block.inverse .figure {
  position: relative; padding:10px;
}
.wp-block.inverse .figure img {
  width: 100%;
}
.wp-block-info-over.left {
  background: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  bottom: 55px;
  left: 0;
}
.wp-block-info-over {
  width: 100%;
  padding: 10px;
  background: #9cd70e;
  border-top: 1px solid #e0eded;
}
.wp-block-info-over.left h2 {
  font-size: 13px;
  font-weight: normal;
}
.wp-block.inverse h2, .wp-block.inverse .title {
  margin: 0;
  padding: 12px 15px 0 0;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-transform: none;
}
.wp-block-info-over.left h2 .pull-left{
  padding: 10px 15px 20px 15px;
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  background: rgba(51,51,51,0.8);
  background: #2c3e50;
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.wp-block-info-over.left h2 .label {
  position: absolute;
  bottom: -30px;
  left: 15px;
  padding: .5em .6em .5em;
}
.wp-block.inverse h2, .wp-block.inverse .title {
  margin: 0;
  padding: 12px 15px 0 0;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-transform: none;
}
.label {
  border-radius: 0;
}

/*********************
****blog page css*****
**********************/
#blog{margin-top: 70px;}
.center {
    text-align: center;
    padding-bottom: 55px;
	padding-top: 55px;
}
.lead {
    line-height: 24px;
}


.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #0066cc;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#0066cc;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #0066cc;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #0066cc;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #0066cc;
  border-bottom: 5px solid #0033cc;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #0066cc !important;
  border-color: #0066cc !important;
  color: #fff;
}
.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #0066cc;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#0066cc;
  color: #fff;  
}

/**********************
**blog single page css*
**********************/

.reply_section {
  background: #f5f5f5;
  border-radius: 5px;
}

.post_reply {
  margin-left: 10px;
  margin-top: 45px;
}

.post_reply img {
  width: 85px;
  height: 85px;
  border: 5px solid #D5D8DD;
}

.post_reply ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.post_reply ul li{
  float:left;
}

.post_reply ul li a {
  display: block;
}

.post_reply ul li a i {
  border: 1px solid #DDDDDD;
  border-radius: 39px;
  color: #FFFFFF;
  font-size: 20px;
  height: 30px;
  margin-right: 3px;
  padding-top: 7px;
  text-align: center;
  width: 30px;
}

.post_reply ul li a i.fa-facebook {
  background: #0182C4;
}

.post_reply ul li a i.fa-twitter {
  background: none repeat scroll 0 0 #3FC1FE;
}

.post_reply ul li a i.fa-google-plus{
 background: none repeat scroll 0 0 #D34836;
}

.post_reply ul li a i:hover{
  opacity:.5;
}

.post_reply_content {
  margin: 30px;
}

.post_reply_content h1 a:hover{
  color:#FFC800;
}

.post_reply_content h4 {
  margin-bottom: 50px;
}

.reply_section .media-body{
  display:inherit;
}

.comment_section .media-body{
  display:inherit;
}

#comments_title{
   color:#4e4e4e;
   font-weight:700px;
   font-size:20px;
   margin-top:60px;
   margin-bottom:40px;
}
.comment_section {
  margin-top: 30px;
  position: relative;
}

.post_comments img {
  width: 85px;
  height: 85px;
  margin-top: 35px;
}

.post_reply_comments {
  background:#f5f5f5;
  border-radius: 4px;
  padding: 30px;
}

.post_reply_comments:before {
  border-color: transparent #F0F0F0 transparent transparent;
  border-style: solid;
  border-width: 15px;
  content: " ";
  height: 0;
  left: 75px;
  position: absolute;
  top: 20px;
}

.post_reply_comments h3, 
.post_reply_content h3{
  margin-top: 0;
}

.post_reply_comments h1 a:hover{
  color:#c52d2f;
}

.post_reply_comments h4{
  color:#c4c4c5;
  font-weight:400;
}

.post_reply_comments p {
  padding-bottom: 30px;
}

.post_reply_comments a {
  bottom: 15px;
  position: absolute;
  right: 30px;
  background: #c52d2f;
  color: #fff;
  border-radius: 5px;
  padding: 8px 20px;
}

.post_reply_comments a:before {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 16px;
  bottom: -11px;
  content: "";
  height: 0;
  left: -12px;
  position: absolute;
  z-index: 99999;
}

.post_reply_comments h2 a{
 
}

.message_heading {
  margin-bottom: 50px;
  margin-top: 60px;
}

.contact-form{float:center;}

/***** gallery*****/

#gallery{padding-top:70px;
	padding-bottom:50px;
}

/*About Us
===================================*/
#help{padding:100px 0;}

.nav-tabs {
    border-bottom: 0px;
}

.feature-tab {
    margin-top: 30px;
}

.single-feature {
    margin: 10px 0px;
    border-radius: 4px;
    position: relative;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.single-feature:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: none repeat scroll 0% 0% #eee;
    left: -11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 38%;
    opacity: 0;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.single-feature:hover,.single-feature:hover.single-feature:after,
.nav-tabs li.active .single-feature,.nav-tabs li.active .single-feature:after {
    background: #eee;
    opacity: 1;
}

.nav-tabs > li > a {
    border: 0px!important;
}

.feature-icon {
    position: relative;
    margin: 15px auto;
    font-size: 34px;
    line-height: 80px;
}

.feature-content {
    padding: 10px 0px;
}

.feature-content h4 {
    line-height: 30px;
}

.feature-content p {
    margin: 10px 0px;
}

.tab-content {
}

.tab-content img {
    width: 100%;
    height: 100%;
}

/*************************
********* Contact Us CSS ******
**************************/
#contañt-info{
  background: #fff;
  padding: 30px 0;
}

.center-cont{margin-top: 120px;
margin-bottom: 50px;
text-align:center;

}
.center-cont .lead{color:#0066cc; font-size: 24px;}

.gmap-area {
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.gmap-area .gmap iframe {
  border-radius: 50%;
  height: 280px;
  width: 300px;
}

.gmap{
    border: 5px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.gmap-area .map-content ul {
  list-style: none; 
}

.gmap-area .map-content address h5{
  font-weight: 700;
  /* font-size: 16px; */
}

#contact-page{
  padding-top: 0;
}

#contact-page .contact-form 
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#0033cc;
  box-shadow: none;
}

textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}
.center .lead{color:#0066cc; font-size: 24px;}

/* footer */

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #0033cc;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #fff;
}

.des_st{float: right; margin-right: 100px;}
.copy_lv{float: left; margin-left: 100px;}
